################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cedro.Restaurante/Cedro.Restaurante.Service/obj/Debug/build.force
